@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Oswald');
@import url("https://fonts.googleapis.com/css?family=Bungee+Inline&display=swap");

nav {font-family: 'Oswald'; font-size: 10px;}
body {font-family: 'Oswald'; font-size: 14px;}

#main {width: 900px; margin: 10px auto;}
h1 {font-family: 'Bungee Inline', cursive; font-size: 46px; font-weight: lighter;}

#starters {border: solid black 2px; border-width: thick;}
#desserts {border: solid black 2px; border-width: thick;}
#menu {columns: 420px 2; column-gap: 60px;}
section {margin-bottom: 20px; padding: 10px;}

/* Show each of the section headings of the menu (e.g. "Starters") in uppercase. */
h2 {margin-top: 0; text-transform: uppercase;}

/* Make the name of each menu item appear in bold in a 16px size. */
dt {display: inline; font-weight: bold; font-size: 16px;}
dt::after {
    content: ","
}

dd {display: inline; margin: 0;}
dd::after {content: " "; display: block; clear: both; margin-bottom: 15px;}

.price {float: right; padding: 0 0 35px 20px;}
address {text-align: right;}


/* Right-align the text of the address/footer */

/* draw a 2px thick black border around the starters and desserts sections of the menu */
